<!DOCTYPE html>
<html lang="en">
<head>
    {% load mptt_tags %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% include "blog/includes/header.html" %}
    <hr>
    {% if posts %}
        {% for post in posts %}
            <h1><a href="{{ post.get_absolute_url }}"> {{ post.title }}</a></h1>
            <h3>{{ post.mini_text }}</h3>
            <p>Дата публикации - {{ post.published_date }} ;
            Количество просмотров - {{ post.viewed }} ;
            Количество комментариев {{ post.get_comment_count }}
    </p>
    <hr>
    {% endfor %}
    {% else %}
        <h1>Статей нет</h1>
    {% endif %}
</body>
</html>